# APP CONFIGURATION
APP_HOST=localhost
APP_PORT=8080

# SWAGGER CONFIGURATION
SWAGGER_HOST=localhost:8080

# MONGODB DETAIL
MONGODB_URI="db-url"
MONGODB_NAME="db-name"

# CORS CONFIGURATION
CORS_ALLOW_ORIGINS=http://localhost:8080

# OAUTH CONFIGURATION
OAUTH_STATE_STRING=your-state-string
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=yout-google-client-secret